*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#btn-mas{
    display: none;
}
.con{
    position: fixed;
    bottom: 15px;
    right: 15px;
}
.redes a, .btn-mas a{
    display: block;
    text-decoration: none;
    background: #20558A;
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 23px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.4);
}


















